.pane-search-result .messages.status {
  display: none;
}

@media screen and (max-width: 4500px) {
  fieldset.group-smart-linkwrapper a.fieldset-title {
    display: none;
  }
}
@media screen and (max-width: 950px) {
  fieldset.group-smart-linkwrapper a.fieldset-title {
    display: block;
  }
  .node-smart-search-content .more-link a {
    width: 258px;
  }
}

.field-name-field-test-link  .field-items > .field-item,
.field-name-field-paragraph-link  .field-items > .field-item,
.field-name-field-smart-link  .field-items > .field-item {
  float: left;
  margin-right: 15px;
  width: 266px;
}

.node-smart-search-content .field-name-field-test-link  .field-items > .field-item,
.node-smart-search-content .field-name-field-paragraph-link  .field-items > .field-item,
.node-smart-search-content .field-name-field-smart-link  .field-items > .field-item {
  width: 220px;
}

.node-smart-search-content.link-only .field-name-field-test-link  .field-items > .field-item,
.node-smart-search-content.link-only .field-name-field-paragraph-link  .field-items > .field-item,
.node-smart-search-content.link-only .field-name-field-smart-link  .field-items > .field-item {
  width: 341px;
}

.field-group-fieldset.more-link .field-name-field-test-link a,
.field-group-fieldset.more-link .field-name-field-paragraph-link a,
.field-group-fieldset.more-link .field-name-field-smart-link a {
  margin-bottom: 10px;
  margin-right: 20px;
  font-size: 18px;
  transition: background-color .3s cubic-bezier(.165,.84,.44,1),color .3s cubic-bezier(.165,.84,.44,1);
  -webkit-transition: background-color .3s cubic-bezier(.165,.84,.44,1),color .3s cubic-bezier(.165,.84,.44,1);
  -moz-transition: background-color .3s cubic-bezier(.165,.84,.44,1),color .3s cubic-bezier(.165,.84,.44,1);
}

.field-group-fieldset.more-link .field-name-field-test-link a:hover,
.field-group-fieldset.more-link .field-name-field-paragraph-link a:hover,
.field-group-fieldset.more-link .field-name-field-smart-link a:hover {
  background-color: #ccc;
}

.field-group-fieldset.more-link .field-name-field-test-link a:after,
.field-group-fieldset.more-link .field-name-field-paragraph-link a:after,
.field-group-fieldset.more-link .field-name-field-smart-link a:after {
  color: #fff;
}

.paragraphs-item-link .more-link,
.paragraphs-item-smart-link .more-link {
  padding: 0;
}
